@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(209, 100%, 55%);
  --primary-color-light-shade-one: hsl(209, 100%, 65%);
  --primary-color-light-shade-two: hsl(209, 100%, 85%);
  --primary-color-dark-shade-one: hsl(209, 100%, 35%);
  --primary-color-dark-shade-two: hsl(209, 100%, 25%);
  --bg-dark: hsl(222, 16%, 12%);
  --bg-gray: hsl(0, 0%, 98%);
  --fg-dark: hsl(0, 0%, 7%);
  --fg-dark-gray: hsl(0, 0%, 20%);
  --fg-light-gray: hsl(0, 0%, 85%);
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-gray);
  min-height: 100vh;
}

.container {
  width: 90vw;
  max-width: 900px;
  margin: 0 auto;
}

header {
  background-color: var(--bg-dark);
  color: var(--primary-color);
}

header h1 {
  font-weight: 900;
  font-size: 2.6rem;
}

footer {
  text-align: center;
  background-color: var(--bg-dark);
  color: var(--fg-light-gray);
}

footer b {
  color: var(--primary-color);
  font-weight: 700;
}

button,
input {
  font-family: inherit;
}

/* Styles specific to project */

main {
  min-height: calc(100vh - 9.8rem);
  padding: 2rem 0;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-item input {
  width: 500px;
  max-width: 80vw;
  padding: 0.5rem;
}

.form-item button {
  border: 0;
  background-color: var(--primary-color-light-shade-two);
  color: var(--primary-color-dark-shade-two);
  padding: 0.5rem;
  cursor: pointer;
  max-width: 80vw;
  font-weight: 600;
}

.table {
  display: none;
}

table {
  table-layout: fixed;
  width: 90%;
  margin: 0 auto;
}

table,
td,
th {
  border: 1px solid var(--bg-dark);
  border-collapse: collapse;
  word-break: break-word;
}

td,
th {
  padding: 0.5rem;
  text-align: center;
}

.table-heading {
  background-color: var(--primary-color-light-shade-two);
  color: var(--primary-color-dark-shade-two);
}

.error {
  background-color: hsl(10, 100%, 90%);
  color: hsl(10, 100%, 50%);
  font-weight: 500;
  padding: 1rem 2rem;
  display: none;
  font-size: 0.8rem;
}

.paid-amount {
  display: none;
}
